{% extends "@GremoZurbInk/foundation-emails/base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        {{ zurb_ink_add_stylesheet('@AppBundle/Resources/public/css/mail.css', true) }}
    </style>
{% endblock %}

{% block body %}
    <table class="body">
        <tr class="green-background">
            <td class="center" align="center" valign="top">
                <center>
                    <table class="container">
                        <tbody>
                        <tr class="white-color">
                            <td>
                                {# Header #}
                                <table class="row black-background">
                                    <tbody>
                                    <tr>
                                        <th class="small-12 large-6 first columns white-color padding-bottom">
                                            <a href="{{ url('front_homepage') }}">
                                                <img src="{{ absolute_url(asset('bundles/app/img/logo-espai-kowo-small.png')) }}" alt="header image">
                                            </a>
                                        </th>
                                        <th class="small-12 large-6 last columns white-color vertical-padding">
                                            <h2 class="text-right">{% block subject %}Espai Kowo{% endblock %}</h2>
                                        </th>
                                        <th class="expander"></th>
                                    </tr>
                                    </tbody>
                                </table>
                                {# Body #}
                                {% block content %}{% endblock %}
                                {# Footer #}
                                {% block footer %}
                                    <table class="row black-background">
                                        <tr>
                                            <th class="small-12 large-5 first columns vertical-padding">
                                                <h6 class="green-color">Espai Kowo</h6>
                                                <p class="white-color">
                                                    C. Primer de maig, 1 3r B<br>
                                                    43870 Amposta<br>
                                                    (Tarragona)
                                                </p>
                                            </th>
                                            <th class="small-6 large-1 vertical-padding ">
                                                <a href="https://www.facebook.com/espaikowo/">
                                                    <img src="{{ absolute_url(asset('bundles/app/img/facebook30x30.png')) }}" alt="facebook logo image">
                                                </a>
                                            <th class="small-6 large-1 vertical-padding ">
                                                <a href="https://twitter.com/espaikowo">
                                                    <img src="{{ absolute_url(asset('bundles/app/img/twitter30x30.png')) }}" alt="twitter logo image">
                                                </a>
                                            </th>
                                            <th class="small-12 large-5 last columns vertical-padding">
                                                <p class="white-color text-right">
                                                    &copy; {{ "now" | date("Y") }}
                                                </p>
                                            </th>
                                            <th class="expander"></th>
                                        </tr>
                                    </table>
                                {% endblock %}
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </center>
            </td>
        </tr>
    </table>
{% endblock %}
