{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ event.title }} · Activitat · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-4">
                {# left side #}
                {% include ':Frontend/includes:image_detail.html.twig' with {object: event} %}
            </div>
            <div class="col-md-8">
                {# right side #}
                <h2 class="no-m-top">{{ event.title }}</h2>
                <h4 class="text-muted">{{ event.date | date('d/m/Y') }}</h4>
                <h4 class="c-green">{{ event.type }}</h4>
                <div class="p-vertical underlined-anchors">
                    {{ event.description | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
