{% extends ':Frontend:base.html.twig' %}

{% form_theme form _self %}

{% block _contact_newsletter_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            Accepto la <a href="{{ path('front_privacy_policy')}}">política de privacitat</a>
        </label>
    </div>
{% endblock %}

{% block title %}{{ event.title }} · {{ 'frontend.menu.events' | trans | title }} · {{ parent() }}{% endblock %}

{% block main %}
    {# Categories title and filter section #}
    {% if categories | length > 0 %}
        <div class="p-vertical-small grey-background">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <h1 class="no-m-top">{{ 'frontend.menu.events' | trans | title }}</h1>
                        <div class="btn-group" role="group" aria-label="categories selector">
                            {% for category in categories if category.events | length > 0 %}
                                <a class="btn btn-default" href="{{ path('front_category_event', {slug: category.slug}) }}">{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {# Event detail section #}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                {% include ':Frontend/includes:notice_flash.html.twig' %}
            </div>
        </div>
        <div class="row">
            {# Left side #}
            <div class="col-sm-4 extra-m-bottom">
                {% include ':Frontend/includes:image_detail.html.twig' with {object: event, filter: '780xY'} %}
            </div>
            {# Right side #}
            <div class="col-sm-8">
                <h2 class="no-m-top">{{ event.title }}</h2>
                <h4 class="text-muted">{{ event.date | date('d/m/Y') }}</h4>
                {% for category in event.categories  %}
                    {% spaceless %}
                        <a class="c-green" href="{{ path('front_category_event', {slug: category.slug}) }}">{{ category.title }}</a>{% if loop.index != loop.last %},&nbsp;{% endif %}
                    {% endspaceless %}
                {% endfor %}
                <div class="p-vertical underlined-anchors">
                    {{ event.description | raw }}
                </div>
            </div>
        </div>
    </div>
    {# Call to action section #}
    {% include ':Frontend/includes:newsletter_subscriber.html.twig' %}
{% endblock %}
