{% extends ':Frontend:base.html.twig' %}

{% block title %}Activitats · {{ parent() }}{% endblock %}

{% block main %}
    <div class="p-vertical-small grey-background">
        <div class="container">
            <div class="row">
                <div class="col-sm-10">
                    <h4>Estigues el dia de les nostres activitats</h4>
                </div>
                <div class="col-sm-2">
                    <span class="pull-right">
                        <button type="button" class="btn btn-kowo-orange" data-toggle="modal" data-target="#form_modal">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Subscriu-me al newsletter
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="container container-main">
        <div class="row">
            {% if events | length > 0 %}
                {% for event in events %}
                    <div class="col-md-4">
                        <a href="{{ path('front_event_detail', {slug: event.slug}) }}">
                            {% include ':Frontend/includes:image_detail.html.twig' with {object: event} %}
                        </a>
                        <div class="caption">
                            <h4>{{ event.title }}</h4>
                            <h6 class="text-muted">{{ event.date | date('d/m/Y') }}</h6>
                            <p>{{ event.description |truncate(100) | raw }}</p>
                            <p><a href="{{ path('front_event_detail', {slug: event.slug}) }}" class="btn btn-kowo"
                                  role="button">Llegir més</a></p>
                        </div>
                    </div>
                    {% if loop.index is divisible by(3) %}
                        </div>
                        <div class="row extra-m-top">
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
