{% extends ':Frontend:base.html.twig' %}

{% block title %}Activitats · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {% if events | length > 0 %}
                {% for event in events %}
                    <div class="col-md-4">
                        <a href="{{ path('front_event_detail', {slug: event.slug}) }}">
                            {% if event.imageName is not null %}
                                <img
                                        src="{{ vich_uploader_asset(event, 'imageFile') | imagine_filter('480xY') }}"
                                        class="img-responsive" alt="{{ event.imageName }}">
                            {% else %}
                                <img src="{{ asset('bundles/app/img/logo-espai-kowo.png') | imagine_filter('480xY') }}" class="img-responsive" alt="default event image">
                            {% endif %}
                        </a>
                        <div class="caption">
                            <h4>{{ event.title }}</h4>
                            <h6 class="text-muted">{{ event.date | date('d/m/Y') }}</h6>
                            <p>{{ event.description |truncate(100) | raw }}</p>
                            <p><a href="{{ path('front_event_detail', {slug: event.slug}) }}" class="btn btn-kowo"
                                  role="button">Llegir més</a></p>
                        </div>
                    </div>
                    {% if loop.index is divisible by(3) %}
                        </div>
                        <div class="row extra-m-top">
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
