{% extends ':Frontend:base.html.twig' %}

{% block title %}Activitats · {{ parent() }}{% endblock %}

{% block main %}
    {% include ':Frontend/includes:newsletter_subscriber.html.twig' %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                {% include ':Frontend/includes:notice_flash.html.twig' %}
            </div>
        </div>
        <div class="row">
            {% set firstEventIsNew = false %}
            {% if pagination.getTotalItemCount > 0 %}
                {% if pagination[0].date | date('Y/m/d') >= 'now' | date('Y/m/d') %}
                    {% set firstEventIsNew = true %}
                {% endif %}
                {% for event in pagination %}
                    {% if event.date | date('Y/m/d') < 'now' | date('Y/m/d') and firstEventIsNew %}
                        </div><div class="row"><div class="col-xs-12"><h3>Activitats finalitzades</h3></div>
                        {% set firstEventIsNew = false %}
                    {% endif %}
                    <div class="{% if firstEventIsNew %}col-md-4{% else %}col-md-3{% endif %}">
                        <a href="{{ path('front_event_detail', {slug: event.slug}) }}">
                            {% include ':Frontend/includes:image_detail.html.twig' with {object: event} %}
                        </a>
                        <div class="caption">
                            <h4>{{ event.title }}</h4>
                            <h6 class="text-muted">{{ event.date | date('d/m/Y') }}</h6>
                            <p>{{ event.description |truncate(100) | raw }}</p>
                            <p><a href="{{ path('front_event_detail', {slug: event.slug}) }}" class="btn btn-kowo"
                                  role="button">Llegir més</a></p>
                        </div>
                    </div>
                    {#{% if loop.index is divisible by(3) %}#}
                        {#</div>#}
                        {#<div class="row extra-m-top">#}
                    {#{% endif %}#}
                {% endfor %}
            {% else %}
                {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
            {% endif %}
        </div>
        {% include ':Frontend/includes:paginator_buttons_bar.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if not form.vars.valid %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#form_modal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
