{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="col-xs-12">
        <h2 class="text-center fresh-talent-ad">Events</h2>
        <table class="table table-bordered">
            {% for event in events %}
                {#<a href="{{ path('front_event_detail', {id: event.id}) }}">{{ event.title }}</a>#}
                {{ event.id }}
                {{ event.title }}
                {{ event.type }}
            {% endfor %}
        </table>
    </div>
{% endblock %}
