{% extends ':Frontend:base.html.twig' %}

{% block title %}Activitats · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {% if events | length > 0 %}
                {% for event in events %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            {% if event.imageName is not null %}
                                <img
                                        src="{{ vich_uploader_asset(event, 'imageFile') | imagine_filter('256xY') }}"
                                        class="img-responsive" alt="{{ event.imageName }}">
                            {% else %}
                                <img src="{{ asset('bundles/app/img/logo-espai-kowo.png') | imagine_filter('256xY') }}" class="img-responsive" alt="default event image">
                            {% endif %}
                            <div class="caption">
                                <h3>{{ event.title }}</h3>
                                <h4>{{ event.type}}</h4>
                                <h5>{{ event.description |truncate(100) | raw }}</h5>
                                <h4>{{ event.date | date('d/m/Y') }}</h4>
                                <p><a href="{{ path('front_event_detail', {slug: event.slug}) }}" class="btn btn-primary"
                                      role="button">Detalls</a></p>
                            </div>
                        </div>
                    </div>
                    {% if loop.index is divisible by(3) %}
                        </div>
                        <div class="row extra-m-top">
                    {% endif %}
                {% endfor %}
            {% else %}
                {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
            {% endif %}
        </div>
    </div>
{% endblock %}
