{% extends 'MopaBootstrapBundle::base.html.twig' %}

{% block navbar %}
    <div class="row">
        <div class="col-xs-12">
            <h1 class="text-hide">{{ main_brand_title }}</h1>
            <h3 class="text-hide">Talent fresc!</h3>
            <p class="text-center">
                <img src="{{ asset('bundles/app/img/logo-espai-kowo.jpg') }}" alt="{{ main_brand_title }} logo"/>
            </p>
        </div>
    </div>
{% endblock %}

{% block title %}{{ main_brand_title }}{% endblock %}

{% block head_style %}
    {% stylesheets filter="cssrewrite,less" '@mycss' %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block foot_script_assetic %}
    {% javascripts '@myjs' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block page_header %}{% endblock %}

{% block footer %}
    <hr/>
    <p class="text-center"><a href="mailto:info@espaikowo.cat">info@espaikowo.cat</a></p>
    <p class="text-center">
        Pl. Ramon Berenguer IV, 1 3B<br>
        43870 Amposta (Tarragona)
    </p>
{% endblock %}
