{% extends ':Frontend:base.html.twig' %}

{% form_theme formHomepage _self %}

{% block _contact_homepage_privacy_widget %}
    <div class="checkbox ">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            {{ 'frontend.forms.privacy_1' | trans }} <a style="text-decoration:underline;" href="{{ path('front_privacy_policy') }}">{{ 'frontend.forms.privacy_2' | trans }}</a>
        </label>
    </div>
{% endblock %}

{% block main %}
    {# Carousel Header #}
    <div id="header-homepage-carousel" class="carousel slide" data-ride="carousel">
        {#<!-- Wrapper for slides -->#}
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img class="center-block" src="{{ asset('bundles/app/img/hero6.jpg') | imagine_filter('2400x1000') }}" alt="Hero 6">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero2.jpg') | imagine_filter('2400x1000') }}" alt="Hero 2">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero8.jpg') | imagine_filter('2400x1000') }}" alt="Hero 8">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero4.jpg') | imagine_filter('2400x1000') }}" alt="Hero 4">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero11.jpg') | imagine_filter('2400x1000') }}" alt="Hero 11">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero7.jpg') | imagine_filter('2400x1000') }}" alt="Hero 7">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero9.jpg') | imagine_filter('2400x1000') }}" alt="Hero 9">
            </div>
            <div class="item">
                <img class="center-block" src="{{ asset('bundles/app/img/hero10.jpg') | imagine_filter('2400x1000') }}" alt="Hero 10">
            </div>
        </div>
        {#<!-- Controls -->#}
        <a class="left carousel-control" href="#header-homepage-carousel" role="button" data-slide="prev">
            <i class="fa fa-2x fa-angle-left" aria-hidden="true"></i>
            <span class="sr-only">{{ 'frontend.pagination.previous' | trans }}</span>
        </a>
        <a class="right carousel-control" href="#header-homepage-carousel" role="button" data-slide="next">
            <i class="fa fa-2x fa-angle-right" aria-hidden="true"></i>
            <span class="sr-only">{{ 'frontend.pagination.next' | trans }}</span>
        </a>
        <div class="subtitle-background">
            <div class="container">
                <h2>{{ 'frontend.homepage.main_claim' | trans }}</h2>
                {#<!-- Button trigger modal -->#}
                <p>
                    <button type="button" class="btn btn-kowo-orange btn-sm visible-xs" data-toggle="modal" data-target="#form_modal">
                        <i class="fa fa-heart" aria-hidden="true"></i> {{ 'frontend.homepage.cta_button' | trans }}
                    </button>
                    <button type="button" class="btn btn-kowo-orange btn-lg hidden-xs" data-toggle="modal" data-target="#form_modal">
                        <i class="fa fa-heart" aria-hidden="true"></i> {{ 'frontend.homepage.cta_button' | trans }}
                    </button>
                </p>
            </div>
        </div>
    </div>
    {#<!-- Modal -->#}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-left">
                <div class="modal-header green-background-light">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'common.close' | trans | capitalize }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{{ 'frontend.homepage.cta_modal_title' | trans }}</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(formHomepage) }}
                        {{ form_row(formHomepage.name) }}
                        {{ form_row(formHomepage.phone) }}
                        {{ form_row(formHomepage.email) }}
                        {{ form_row(formHomepage.recaptcha) }}
                        {{ form_row(formHomepage.privacy) }}
                        {{ form_rest(formHomepage) }}
                    {{ form_end(formHomepage) }}
                </div>
            </div>
        </div>
    </div>
    {# Subhero section #}
    <div class="p-vertical">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    {% include ':Frontend/includes:notice_flash.html.twig' %}
                </div>
            </div>
            <div class="row small-m-top values">
                <div class="col-xs-12">
                    <p>{{ 'frontend.homepage.subhero_section.p1' | trans | raw }}</p>
                    <p>{{ 'frontend.homepage.subhero_section.p2' | trans | raw }}</p>
                    <p class="extra-m-bottom">{{ 'frontend.homepage.subhero_section.p3' | trans | raw }}</p>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{ asset('bundles/app/img/photo-home-mini-1.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="{{ 'frontend.homepage.subhero_section.image_claim1' | trans }}">
                    <div class="caption">
                        <h4 class="text-muted">{{ 'frontend.homepage.subhero_section.image_claim1' | trans }}</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{ asset('bundles/app/img/photo-home-mini-2.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="{{ 'frontend.homepage.subhero_section.image_claim2' | trans }}">
                    <div class="caption">
                        <h4 class="text-muted">{{ 'frontend.homepage.subhero_section.image_claim2' | trans }}</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4">
                    <img src="{{ asset('bundles/app/img/photo-home-mini-3.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="{{ 'frontend.homepage.subhero_section.image_claim3' | trans }}">
                    <div class="caption">
                        <h4 class="text-muted">{{ 'frontend.homepage.subhero_section.image_claim3' | trans }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Pricing section #}
    {% include ':Frontend/includes:pricing_tables_fragment.html.twig' %}
    {# Detail section #}
    <div class="p-vertical container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 text-center">
                <i class="small-m-bottom c-green fa fa-universal-access fa-3x" aria-hidden="true"></i>
                <p class="text-muted">{{ 'frontend.homepage.detail_section.wortables_amount' | trans }}</p>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <i class="small-m-bottom c-green fa fa-sun-o fa-3x" aria-hidden="true"></i>
                <p class="text-muted">{{ 'frontend.homepage.detail_section.sunligth_space' | trans | raw }}</p>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <i class="small-m-bottom c-green fa fa-wifi fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">{{ 'frontend.homepage.detail_section.internet_access' | trans }}</p>
            </div>
            <div class="col-xs-6 col-sm-3 text-center">
                <i class="small-m-bottom c-green fa fa-battery-full fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">{{ 'frontend.homepage.detail_section.renewal_energy' | trans }}</p>
            </div>
        </div>
    </div>
    {# Final highlights section #}
    <div class="p-vertical green-background-light">
        <div class="container text-center">
            <div class="row normal-m-top">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="alert alert-magenta" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-gear fa-spin"></i><br>{{ 'frontend.homepage.final_highlights_section.coworking_space' | trans }}</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="alert alert-dark-cyan" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-calendar-check-o"></i><br>{{ 'frontend.homepage.final_highlights_section.activities_and_events' | trans }}</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="alert alert-violet" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-street-view"></i><br>{{ 'frontend.homepage.final_highlights_section.meeting_zone' | trans }}</h4>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="alert alert-orange" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-rocket"></i><br>{{ 'frontend.homepage.final_highlights_section.stress_less_space' | trans }}</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Whatsapp chat button section #}
    <div class="p-vertical-small grey-background">
        {% include ':Frontend/includes:whatsapp_cta_section.html.twig' %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            jQuery('.carousel').carousel({interval: 3500});
            {% if not formHomepage.vars.valid %}
                jQuery('#form_modal').modal('show');
            {% endif %}
        });
    </script>
{% endblock %}
