{% extends ':Frontend:base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/baguetteBox.min.css') }}">
{% endblock %}

{% block main %}
    {# Hero section #}
    <svg class="center-block main-logo-homepage" height="600" width="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <image height="600" width="600" xlink:href="{{ asset('bundles/app/svg/logo-header.svg') }}" alt="Espai Kowo Logo"></image>
    </svg>
    {# Full Page Image Background Carousel Header #}
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2>Caption 1</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2>Caption 2</h2>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2>Caption 3</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    {#<div class="jumbotron">#}
        {#<div class="subtitle-background">#}
            {#<div class="container">#}
                {#<h2>Molt més que compartir un espai de treball</h2>#}
                {#<h2>{{ words(2) }}</h2>#}
                {#<!-- Button trigger modal -->#}
                {#<p>#}
                    {#<button type="button" class="btn btn-kowo btn-lg" data-toggle="modal" data-target="#form_modal">#}
                        {#<i class="fa fa-heart" aria-hidden="true"></i> Prova-ho gratis 3 dies#}
                    {#</button>#}
                {#</p>#}
            {#</div>#}
        {#</div>#}
        {#<!-- Modal -->#}
        {#<div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">#}
            {#<div class="modal-dialog" role="document">#}
                {#<div class="modal-content text-left">#}
                    {#<div class="modal-header">#}
                        {#<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>#}
                        {#<h4 class="modal-title" id="myModalLabel">Dades de contacte</h4>#}
                    {#</div>#}
                    {#<div class="modal-body">#}
                        {#{{ form(formHomepage) }}#}
                    {#</div>#}
                    {#<div class="modal-footer">#}
                        {#En breu t'ho explicarem tot amb més detall i podràs visitar l'espai#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#{% include ':Frontend/includes:notice_flash.html.twig' %}#}
    {#</div>#}
    {# Subhero section #}
    <div class="p-vertical">
        <div class="container">
            <div class="row small-m-top">
                <div class="col-sm-4">
                    <div class="no-m-bottom">
                        <img src="{{ asset('bundles/app/img/photo-home-mini-1.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="Una nova manera de treballar">
                        <div class="caption">
                            <h4 class="text-muted">Una nova manera de treballar</h4>
                            {#<p>{{ sentences(1) }}</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="no-m-bottom">
                        <img src="{{ asset('bundles/app/img/photo-home-mini-2.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="Suma't a la comunitat de coworkers">
                        <div class="caption">
                            <h4 class="text-muted">Suma't a la comunitat de coworkers</h4>
                            {#<p>{{ sentences(1) }}</p>#}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="no-m-bottom">
                        <img src="{{ asset('bundles/app/img/photo-home-mini-3.jpg') | imagine_filter('360x185') }}" class="img-responsive" alt="Compartim coneixement">
                        <div class="caption">
                            <h4 class="text-muted">Compartim coneixement</h4>
                            {#<p>{{ sentences(1) }}</p>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Pricing section #}
    <div class="p-vertical green-background-light">
        <div class="container">
            {#<div class="row">#}
                {#<div class="col-md-12">#}
                    {#<h2 class="text-center no-m-top extra-m-bottom">Tarifa</h2>#}
                {#</div>#}
            {#</div>#}
            <div class="row white">
                <div class="block">
                    <div class="col-xs-6 col-sm-4 col-sm-offset-2">
                        <ul class="pricing p-yel white-background no-m-bottom">
                            <li>
                                <i class="fa fa-5x fa-star c-orange" aria-hidden="true"></i><br>
                                <h4 class="no-m-bottom c-orange">Jornada completa</h4>
                            </li>
                            <li>taula de treball individual</li>
                            <li>armariet individual</li>
                            <li>sala de reunió compartida</li>
                            <li>accés a internet</li>
                            <li>
                                <h3 class="no-m-top">100 <i class="fa fa-euro"></i></h3>
                                <span>al mes</span>
                            </li>
                            {#<li><button>Join Now</button></li>#}
                        </ul>
                    </div>
                    <div class="col-xs-6 col-sm-4">
                        <ul class="pricing p-yel white-background no-m-bottom">
                            <li>
                                <i class="fa fa-5x fa-star-half-o c-orange" aria-hidden="true"></i><br>
                                <h4 class="no-m-bottom c-orange">Mitja jornada</h4>
                            </li>
                            <li>taula de treball compartida</li>
                            <li>armariet compartit</li>
                            <li>sala de reunió compartida</li>
                            <li>accés a internet</li>
                            <li>
                                <h3 class="no-m-top">65 <i class="fa fa-euro"></i></h3>
                                <span>al mes</span>
                            </li>
                            {#<li><button>Join Now</button></li>#}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Detail section #}
    <div class="p-vertical container">
        <div class="row">
            <div class="col-xs-3 text-center">
                <i class="small-m-bottom c-green fa fa-universal-access fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">12+1 taules de treball</p>
            </div>
            <div class="col-xs-3 text-center">
                <i class="small-m-bottom c-green fa fa-sun-o fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">130m<sup>2</sup> amb llum natural</p>
            </div>
            <div class="col-xs-3 text-center">
                <i class="small-m-bottom c-green fa fa-wifi fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">Internet ultra-ràpida</p>
            </div>
            <div class="col-xs-3 text-center">
                <i class="small-m-bottom c-green fa fa-battery-full fa-3x" aria-hidden="true"></i>
                <p class="no-m-bottom text-muted">Energia 100% renovable</p>
            </div>
        </div>
    </div>
    {# Final highlights section #}
    <div class="p-vertical green-background-light">
        <div class="container text-center">
            <div class="row normal-m-top">
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="alert alert-magenta" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-gear fa-spin"></i><br>sala coworking</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="alert alert-dark-cyan" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-calendar-check-o"></i><br>activitats i formació</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="alert alert-violet" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-street-view"></i><br>zona de reunió</h4>
                    </div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-6">
                    <div class="alert alert-orange" role="alert">
                        <h4 class="no-m text-center"><i class="fa fa-rocket"></i><br>àrea stress-less</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Section carousel #}
    <div class="p-vertical">
        <div class="container">
            <div class="row small-m-top gallery">
                <div class="col-sm-3">
                    <div class="no-m-bottom">
                        <a href="{{ asset('bundles/app/img/photo-home-mini-1.jpg') | imagine_filter('1200xY') }}">
                            <img src="{{ asset('bundles/app/img/photo-home-mini-1.jpg') | imagine_filter('240x180') }}" class="img-responsive" alt="First image">
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="no-m-bottom">
                        <a href="{{ asset('bundles/app/img/photo-home-mini-2.jpg') | imagine_filter('1200xY') }}">
                            <img src="{{ asset('bundles/app/img/photo-home-mini-2.jpg') | imagine_filter('240x180') }}" class="img-responsive" alt="Second image">
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="no-m-bottom">
                        <a href="{{ asset('bundles/app/img/photo-home-mini-3.jpg') | imagine_filter('1200xY') }}">
                            <img src="{{ asset('bundles/app/img/photo-home-mini-3.jpg') | imagine_filter('240x180') }}" class="img-responsive" alt="Second image">
                        </a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="no-m-bottom">
                        <a href="{{ asset('bundles/app/img/photo-home-mini-1.jpg') | imagine_filter('1200xY') }}">
                            <img src="{{ asset('bundles/app/img/photo-home-mini-2.jpg') | imagine_filter('240x180') }}" class="img-responsive" alt="First image">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/app/js/baguetteBox.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            baguetteBox.run('.gallery');
        });
    </script>
    {% if not formHomepage.vars.valid %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                jQuery('#form_modal').modal('show');
            });
        </script>
    {% endif %}
{% endblock %}
