<div class="p-vertical-small green-background-light">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {{ form_start(form, { attr: {class: 'form-inline'} }) }}
                {{ form_row(form.name) }}
                {{ form_row(form.email) }}
                {{ form_widget(form.send, { attr: {class: 'btn-sm btn-kowo-orange no-m-bottom'} }) }}
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
