<div class="p-vertical green-background-light">
    <div class="container">
        <div class="row white">
            <div class="block">
                <div class="col-xs-12">
                    <h3 class="no-m-top">{{ 'frontend.pricing.flex_main_title' | trans | raw }}</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing pricing-cyan p-yel white-background">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.ullal' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week1' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.full_time' | trans }}</strong></li>
                        <li>{{ 'frontend.pricing.variable_table' | trans }}</li>
                        <li>{{ 'frontend.pricing.private_cloud100' | trans }}</li>
                        <li>{{ 'frontend.pricing.meeting_room_availability' | trans }}</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">75 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.ullal' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing pricing-cyan p-yel white-background">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.llacuna' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week2' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.full_time' | trans }}</strong></li>
                        <li>{{ 'frontend.pricing.variable_table' | trans }}</li>
                        <li>{{ 'frontend.pricing.private_cloud100' | trans }}</li>
                        <li>{{ 'frontend.pricing.meeting_room_availability' | trans }}</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">85 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.llacuna' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing pricing-cyan p-yel white-background">
                        <li class="cyan-background">
                            <i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><i class="fa fa-5x fa-check c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.riu' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week3' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.full_time' | trans }}</strong></li>
                        <li>{{ 'frontend.pricing.variable_table' | trans }}</li>
                        <li>{{ 'frontend.pricing.private_cloud100' | trans }}</li>
                        <li>{{ 'frontend.pricing.meeting_room_availability' | trans }}</li>
                        <li class="cyan-background-dark">
                            <h3 class="no-m-top">95 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.riu' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
                <div class="col-xs-12">
                    <h3 class="extra-m-top">{{ 'frontend.pricing.fix_main_title' | trans | raw }}</h3>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-yel white-background">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star-half-o c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.badia' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week7' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.fix_table' | trans }}</strong></li>
                        <li>{{ 'frontend.pricing.half_time' | trans }}</li>
                        <li>{{ 'frontend.pricing.private_cloud100' | trans }}</li>
                        <li>{{ 'frontend.pricing.meeting_room_availability_always' | trans }}</li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">105 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.badia' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-yel white-background">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-star c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.delta' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week7' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.fix_table' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.full_time' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.private_cloud250' | trans }}</strong></li>
                        <li>{{ 'frontend.pricing.meeting_room_availability_always' | trans }}</li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">160 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.delta' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <ul class="pricing p-yel white-background">
                        <li class="orange-background">
                            <i class="fa fa-5x fa-users c-white" aria-hidden="true"></i><br>
                            <h4 class="no-m-bottom c-white">{{ 'frontend.pricing.team_room' | trans | title }}</h4>
                        </li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.office_workplaces5' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.days_per_week7' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.fix_table' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.full_time' | trans }}</strong></li>
                        <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.pricing.private_cloud2000' | trans }}</strong></li>
                        <li class="orange-background-dark">
                            <h3 class="no-m-top">650 <i class="fa fa-euro"></i></h3>
                            <span>{{ 'frontend.pricing.per_month' | trans }}</span>
                        </li>
                    </ul>
                    <a href="{{ path('front_contact', {info: 'frontend.pricing.team_room' | trans}) }}" class="btn btn-block btn-kowo extra-m-bottom"><i class="fa fa-plus"></i> {{ 'frontend.pricing.more_info' | trans | capitalize }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
