{% extends ':Frontend:base.html.twig' %}

{% form_theme form _self %}

{% block _contact_homepage_privacy_widget %}
    <div class="checkbox">
        <input type="checkbox" id="privacy_checkbox" {{ block('widget_attributes') }} />
        <label class="control-label my-privacy-label" for="privacy_checkbox">
            {{ 'frontend.forms.privacy_1' | trans }} <a style="text-decoration:underline;" href="{{ path('front_privacy_policy') }}">{{ 'frontend.forms.privacy_2' | trans }}</a>
        </label>
    </div>
{% endblock %}

{% block title %}{{ 'frontend.menu.services' | trans | title }} · {{ parent() }}{% endblock %}

{% block main %}
    {# Main title section #}
    <div class="p-vertical-small grey-background">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 class="no-m-top">{{ 'frontend.services.main_title' | trans }}</h2>
                    <p>{{ 'frontend.services.main_claim_text' | trans | raw }}</p>
                    {#<!-- Button trigger modal -->#}
                    <button type="button" class="btn btn-kowo-orange btn-lg" data-toggle="modal" data-target="#form_modal">
                        <i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.services.main_claim_button' | trans }}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {#<!-- Modal -->#}
    <div class="modal fade" id="form_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content text-left">
                <div class="modal-header green-background-light">
                    <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'common.close' | trans }}"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Deixa'ns les teves dades i t'ho explicarem tot amb més detall</h4>
                </div>
                <div class="modal-body">
                    {{ form_start(form) }}
                        {{ form_row(form.name) }}
                        {{ form_row(form.phone) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.recaptcha) }}
                        {{ form_row(form.privacy) }}
                        {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
    {# Working tables section #}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                {% include ':Frontend/includes:notice_flash.html.twig' %}
                <h4 class="text-muted no-m-top">{{ 'frontend.services.worktables_title' | trans }}</h4>
                <img class="img-responsive normal-m-bottom" src="{{ asset('bundles/app/img/services_working_tables_room.jpg') | imagine_filter('2400x1000') }}" alt="{{ 'frontend.services.wortables_title' | trans }}">
                <p class="small-m-top">{{ 'frontend.services.worktables_p1' | trans | raw }}</p>
                <p>{{ 'frontend.services.worktables_p2' | trans }}</p>
                <p class="no-m-bottom">{{ 'frontend.services.worktables_p3' | trans }}</p>
            </div>
        </div>
    </div>
    {# Pricing section #}
    {% include ':Frontend/includes:pricing_tables_fragment.html.twig' %}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-muted no-m-top">{{ 'frontend.services.meeting_room_title' | trans }}</h4>
                <img class="img-responsive normal-m-bottom" src="{{ asset('bundles/app/img/services_meeting_room_v1.jpg') | imagine_filter('2400x1000') }}" alt="{{ 'frontend.services.meeting_room_title' | trans }}">
                <p class="small-m-top">{{ 'frontend.services.meeting_room_p1' | trans | raw }}</p>
                <p class="no-m-bottom">{{ 'frontend.services.meeting_room_p2' | trans }}</p>
            </div>
        </div>
    </div>
    {# Meeting room section #}
    <div class="p-vertical green-background-light">
        <div class="container">
            <div class="row white">
                <div class="block">
                    <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-4">
                        <ul class="pricing p-yel white-background no-m-bottom">
                            <li class="orange-background">
                                <i class="fa fa-5x fa-street-view c-white" aria-hidden="true"></i><br>
                                <h4 class="no-m-bottom c-white">{{ 'frontend.services.meeting_room_pricing1' | trans }}</h4>
                            </li>
                            <li><strong><i class="fa fa-check-circle" aria-hidden="true"></i> {{ 'frontend.services.meeting_room_pricing2' | trans }}</strong></li>
                            <li>{{ 'frontend.services.meeting_room_pricing3' | trans }}</li>
                            <li>{{ 'frontend.services.meeting_room_pricing4' | trans }}</li>
                            <li>{{ 'frontend.services.meeting_room_pricing5' | trans }}</li>
                            <li class="orange-background-dark">
                                <h3 class="no-m-top">20 <i class="fa fa-euro"></i></h3>
                                <span>{{ 'frontend.services.meeting_room_pricing6' | trans }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Stress-less area section #}
    <div class="container container-main">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="text-muted no-m-top">{{ 'frontend.services.stress_less_zone_title' | trans | raw }}</h4>
                <img class="img-responsive normal-m-bottom" src="{{ asset('bundles/app/img/services_stress_less_area.jpg') | imagine_filter('2400x1000') }}" alt="{{ 'frontend.services.stress_less_zone_title' | trans | raw }}">
                <p class="small-m-top no-m-bottom">{{ 'frontend.services.stress_less_zone_p1' | trans | raw }}</p>
            </div>
        </div>
    </div>
    {# Whatsapp chat button section #}
    <div class="p-vertical-small green-background-light">
        {% include ':Frontend/includes:whatsapp_cta_section.html.twig' %}
    </div>
{% endblock %}
