{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ coworker.name }} · Coworker · {{ parent() }}{% endblock %}

{% block body_class %} class="green-background-light"{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row white-background">
            <div class="col-sm-4">
                {# left side #}
                {% if coworker.imageName is not null %}
                    <img
                            src="{{ vich_uploader_asset(coworker, 'imageFile') | imagine_filter('480xY') }}"
                            class="img-responsive left-margin-negative" alt="{{ coworker.imageName }}">

                {% else %}
                    <img src="{{ asset('bundles/app/img/kiwi-pic.jpg') | imagine_filter('480xY') }}" class="img-responsive left-margin-negative" alt="default coworker image">
                {% endif %}
            </div>
            <div class="col-sm-8 p-vertical">
                {# right side #}
                <h2 class="no-m-top">{{ coworker.name | upper}} {{ coworker.surname | upper }}</h2>
                <h4 class="c-green">{{ coworker.category | upper}}</h4>
                <p>{{ coworker.description | raw }}</p>
                <ul class="list-inline">
                    {% include ":Frontend/includes:social_network_category.html.twig" with {coworker: coworker} %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
