{% extends ':Frontend:base.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Coworkers</h1>
            <h3>{{ coworker.name }} / {{ coworker.category }}</h3>
            <h5>{{ coworker.description | raw }}</h5>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {# left side #}
                {% if coworker.imageName %}
                    <img
                        src="{{ vich_uploader_asset(coworker, 'imageFile') | imagine_filter('480xY') }}"
                        alt="{{ coworker.imageName }}">
                {% else %}
                    <img src="{{ asset('bundles/app/img/logo-espai-kowo.png') | imagine_filter('480xY') }}" alt="">
                {% endif %}
            </div>
            <div class="col-md-6">
                {# right side #}
                <h4>{{ coworker.name | upper}}</h4>
                <h5 style="color: greenyellow">{{ coworker.category | upper}}</h5>
                <p>{{ coworker.description | raw }}</p>
                <h6>{{ coworker.email }}</h6>
                <ul class="list-inline">
                    {% for socialNetwork in coworker.socialNetworks %}
                            <li>
                                <a target="_blank" href="{{ socialNetwork.url }}">
                                    {% if socialNetwork.category.imageName is not null %}
                                        <img
                                            src="{{ vich_uploader_asset(socialNetwork.category, 'imageFile') | imagine_filter('30x30') }}"
                                            alt="{{ socialNetwork.category.title }}">
                                    {% else %}
                                        {{ socialNetwork.category.title }}
                                    {% endif %}
                                </a>
                            </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
