{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ coworker.name }} · Coworker · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            <div class="col-md-6">
                {# left side #}
                {% if coworker.imageName is not null %}
                    <img
                            src="{{ vich_uploader_asset(coworker, 'imageFile') | imagine_filter('480xY') }}"
                            class="img-responsive" alt="{{ coworker.imageName }}">

                {% else %}
                    <img src="{{ asset('bundles/app/img/kiwi-pic.jpg') | imagine_filter('480xY') }}" class="img-responsive" alt="default coworker image">
                {% endif %}
            </div>
            <div class="col-md-6">
                {# right side #}
                <h2 class="no-m-top">{{ coworker.name | upper}}</h2>
                <h4 class="c-green">{{ coworker.category | upper}}</h4>
                <p>{{ coworker.description | raw }}</p>
                <h6>{{ coworker.email }}</h6>
                <ul class="list-inline">
                    {% for socialNetwork in coworker.socialNetworks %}
                        <li>
                            <a target="_blank" href="{{ socialNetwork.url }}">
                                <i class="fa {{ socialNetwork.category.fontAwesomeClass }} fa-2x" aria-hidden="true"></i>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
