{% extends ':Frontend:base.html.twig' %}

{% block title %}{{ coworker.name }} · Coworker · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="row">
            {# Left side #}
            <div class="col-sm-4 extra-m-bottom">
                {% if coworker.imageName is not null %}
                    <img id="main-photo" src="{{ vich_uploader_asset(coworker, 'imageFile') | imagine_filter('780xY') }}" class="img-responsive" alt="{{ coworker.imageName }}">
                    {% if coworker.gifName is not null %}
                        <img id="gif-photo" src="{{ vich_uploader_asset(coworker, 'gifFile') }}" class="img-responsive center-block hidden" alt="animated gif">
                    {% endif %}
                {% else %}
                    <img src="{{ asset('bundles/app/img/kiwi-pic.jpg') | imagine_filter('780xY') }}" class="img-responsive" alt="default coworker image">
                {% endif %}
            </div>
            {# Right side #}
            <div class="col-sm-8">
                <h2 class="no-m-top light-font-weight">{{ coworker.name | upper}} {{ coworker.surname | upper }}</h2>
                <h4 class="c-green">{{ coworker.category | upper}}</h4>
                <ul class="list-inline">
                    {% include ":Frontend/includes:social_network_category.html.twig" with {coworker: coworker} %}
                </ul>
                <div class="p-vertical underlined-anchors">
                    {{ coworker.description | raw }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if coworker.gifName is not null %}
        <script type="text/javascript">
            jQuery(document).ready(function() {
                $( "#main-photo" ).mouseenter(function() {
                    $("#gif-photo").removeClass('hidden');
                    $("#main-photo").addClass('hidden');
                });
                $( "#gif-photo" ).mouseleave(function() {
                    $("#gif-photo").addClass('hidden');
                    $("#main-photo").removeClass('hidden');
                });
            });
        </script>
    {% endif %}
{% endblock %}
