{% extends ':Frontend:base.html.twig' %}

{% block title %}Coworkers · {{ parent() }}{% endblock %}

{% block main %}
    <div class="container container-main">
        <div class="clearfix">
        {% if coworkers | length > 0 %}
            {% for coworker in coworkers %}
                <div class="col-md-3">
                    <h4 class="no-m-top text-center">{{ coworker.name | upper }} {{ coworker.surname | upper }}</h4>
                    <a href="{{ path('front_coworker_detail', {slug: coworker.slug}) }}">
                        {% if coworker.imageName is not null %}
                            <img
                                    src="{{ vich_uploader_asset(coworker, 'imageFile') | imagine_filter('256xY') }}"
                                    class="img-responsive" alt="{{ coworker.imageName }}">
                        {% else %}
                            <img src="{{ asset('bundles/app/img/kiwi-pic.jpg') | imagine_filter('256xY') }}" class="img-responsive" alt="default coworker image">
                        {% endif %}
                    </a>
                    <ul class="list-inline social-networks text-center">
                        {% include ":Frontend/includes:social_network_category.html.twig" with {coworker: coworker} %}
                    </ul>
                    <p class="text-center">{{ coworker.category }}</p>
                </div>
                {% if loop.index is divisible by(4) %}
                    </div>
                    <div class="clearfix extra-m-top">
                {% endif %}
            {% endfor %}
        {% else %}
            {% include ':Frontend/includes:under_construciton_warning.html.twig' %}
        {% endif %}
        </div>
    </div>
{% endblock %}
