{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">
                Indicadors
            </h3>
        </div>
        <div class="box-body">
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{ maleAmount }}%">
                    Homes {{ maleAmount }}%
                </div>
                <div class="progress-bar progress-bar-warning" style="width: {{ femaleAmount }}%">
                    Dones {{ femaleAmount }}%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar" style="width: 20%">Gener</div>
                <div class="progress-bar progress-bar-success" style="width: {{ januaryTakeUp }}%">
                    {{ januaryTakeUp }}%
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ januaryDischarge }}%">
                    {{ januaryDischarge }}%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar" style="width: 20%">Febrer</div>
                <div class="progress-bar progress-bar-success" style="width: {{ februaryTakeUp }}%">
                    {{ februaryTakeUp }}%
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ februaryDischarge }}%">
                    {{ februaryDischarge }}%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar" style="width: 20%">Març</div>
                <div class="progress-bar progress-bar-success" style="width: {{ marchTakeUp }}%">
                    {{ marchTakeUp }}%
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ marchDischarge }}%">
                    {{ marchDischarge }}%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar" style="width: 20%">Abril</div>
                <div class="progress-bar progress-bar-success" style="width: {{ aprilTakeUp }}%">
                    {{ aprilTakeUp }}%
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ aprilDischarge }}%">
                    {{ aprilDischarge }}%
                </div>
            </div>
            <div class="progress">
                <div class="progress-bar progress-bar" style="width: 20%">Maig</div>
                <div class="progress-bar progress-bar-success" style="width: {{ mayTakeUp }}%">
                    {{ mayTakeUp }}%
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{ mayDischarge }}%">
                    {{ mayDischarge }}%
                </div>
            </div>
            <div>
                <ul class="list-inline">Aniversaris {{ currentDate }}
                    {% for coworker in coworkersBirthday %}
                        <a href="{{ path('admin_app_coworker_edit', { id: coworker.id}) }}">
                            <li>{{ coworker.fullName }}</li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
