{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="row">
        <div class="col-md-2">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Distribució {{ yearTakeUp }} altes totals</h3>
                </div>
                <div class="box-body">
                    {{ drawProgress('Gener', januaryTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Febrer', februaryTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Març', marchTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Abril', aprilTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Maig', mayTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Juny', juneTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Juliol', julyTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Agost', augustTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Setembre', septemberTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Octubre', octoberTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Novembre', novemberTakeUp, yearTakeUp) | raw }}
                    {{ drawProgress('Desembre', decemberTakeUp, yearTakeUp) | raw }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Distribució {{ yearDischarge }} baixes totals</h3>
                </div>
                <div class="box-body">
                    {{ drawProgress('Gener', januaryDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Febrer', februaryDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Març', marchDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Abril', aprilDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Maig', mayDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Juny', juneDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Juliol', julyDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Agost', augustDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Setembre', septemberDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Octubre', octoberDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Novembre', novemberDischarge, yearDischarge, false) | raw }}
                    {{ drawProgress('Desembre', decemberDischarge, yearDischarge, false) | raw }}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Edat coworkers actuals</h3>
                </div>
                <div class="box-body">
                    {{ drawAgesList(currentAgesList) | raw }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Gènere coworkers actuals</h3>
                </div>
                <div class="box-body">
                    <h6 class="box-title">Home | Dona</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped"
                             style="width: {{ maleAmount }}%">
                            {{ maleAmount }}%
                        </div>
                        <div class="progress-bar progress-bar-danger progress-bar-striped"
                             style="width: {{ femaleAmount }}%">
                            {{ femaleAmount }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Edat coworkers totals</h3>
                </div>
                <div class="box-body">
                    {{ drawAgesList(allAgesList) | raw }}
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Gènere coworkers totals</h3>
                </div>
                <div class="box-body">
                    <h6 class="box-title">Home | Dona</h6>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success progress-bar-striped"
                             style="width: {{ maleAmount }}%">
                            {{ maleAmount }}%
                        </div>
                        <div class="progress-bar progress-bar-danger progress-bar-striped"
                             style="width: {{ femaleAmount }}%">
                            {{ femaleAmount }}%
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="box box-success">
                <div class="box-header">
                    <h3 class="box-title">Aniversaris {{ currentDate }}</h3>
                </div>
                <div class="box-body">
                    {% if coworkersBirthday | length > 0 %}
                        <ul class="list list-unstyled">
                            {% for coworker in coworkersBirthday %}
                                <li>
                                    <a href="{{ path('admin_app_coworker_edit', { id: coworker.id}) }}">
                                        {{ coworker.birthday | date('d/m/Y') }} · {{ coworker.fullName }} · {{ coworker.yearsOldInCurrentYear }} anys
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <div class="alert alert-warning">
                            <i class="fa fa-frown-o"></i> Ningú celebra el seu aniversari aquest mes
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
